/* Header Component */
.home-link {
    color: inherit;
    text-decoration: none;
}

.home-link:hover {
    text-decoration: underline;
}

/* Landing Component */
.landing {
    text-align: center;
    padding: 50px;
    background-color: var(--background-color);
}

.landing h2 {
    font-size: 2.5rem;
    color: #333;
}

.landing p {
    font-size: 1.2rem;
    color: #666;
}

/* Bio Component */
#bio {
    position: relative;
    float: right;
    margin-right: 3vw;
}